.jumbotron {
  padding-top: 6rem;
  background-color: #505052;
}
.jumbotron span {
  color: rgb(241, 238, 238);
}
#achievments {
  background-color: #ededf3;
}
section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
